@mixin text($font-size, $line-height, $color) {
  font-size: $font-size;
  line-height: $line-height;
  color: $color;
}

@mixin flex($display, $justify-content, $align-items, $gap) {
  display: $display;
  justify-content: $justify-content;
  align-items: $align-items;
  gap: $gap;
}
